body{
  margin: 0;
  background: #282726;

}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.Header{
  width: 352px;
  height: 165px;
  gap: 20px;

}
.Header h1{
  font-family: Hanken Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  justify-content: center;
  color: #F9F4DA;
  margin: 3rem;
  margin-bottom: 1rem;
}

.Header p{
  font-family: Hanken Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #8E8E8E;
}

.Status{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 352px;
  height: 59px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  background: #10A95B;
}

.Status h2{
  font-family: Hanken Grotesk;
  font-weight: 500;
  font-style: Medium;
  line-height: 100%;
  text-align: center;
  color: #F9F4DA;
  margin: 0;

}

.Status p{
    font-family: Hanken Grotesk;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #F9F4DA;
    margin: 0;
}



.NewGameButton{
  width: 228px;
  height: 40px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  border-radius: 4px;
  border-width: 1px;
  background: #11B5E5;
  border: 1px solid #D7D7D7;
  font-family: Hanken Grotesk;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.Languages{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 352px;
  flex-wrap: wrap;
  margin: 2rem;
}

.LanguageChip{
  gap: 4.5px;
  border-radius: 3px;
  padding: 4.5px;

}


.Word{

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2px;
  max-width: 350px ;

  }

.Letter{
  
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Hanken Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    color: #F9F4DA;
    width: 40px;
    height: 40px;
    padding: 6px;
    background-color: #323232;
    border-bottom: 1px solid #F9F4DA;
    margin-bottom: 2rem;

}


.Keyboard{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  flex-wrap: wrap;
  max-width: 470px;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;

}


.letterKey{

  width: 40px;
  height: 40px;
  gap: 6px;
  border-radius: 4px;
  border-width: 1px;
  padding: 6px;
  background-color: #FCBA29;
  border: 1px solid #D7D7D7;
  font-family: Hanken Grotesk;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  text-align: center;
  cursor: pointer;

}


